@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro.ttf");
}
@font-face {
  font-family: "Koulen";
  src: url("../fonts/Koulen.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
}
